<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container primary-wrapper">
        <%- include('partials/flashMessage') %>
        <% if (note){ %>
            <div class="tools">
                <div class="tt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="edit note">
                    <span class="material-symbols-outlined iconx" id="edit-icon" data-slug="<%= note.slug %>" onclick="editNote()">edit_note</span>
                </div>
                <div class="tt" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="delete">
                    <span class="material-symbols-outlined iconx"  id="delete-icon" data-id="<%= note._id %>" onclick="deleteNote()">delete</span>
                </div>  
            </div>
            <div class="note-view">
                <h4><%= note.title %></h4>
                <span class="meta">last updated <%= note.updatedAt %></span>
                <div class="note-view-body"><%- note.sanitizedHtml %></div>
            </div>
        <% } %>
    </div>

    <script>
        function editNote(){
            let slug = document.getElementById('edit-icon').dataset.slug
            console.log(slug)
            location.assign(`/api/note/e/${slug}`)
        }

        async function deleteNote(){
            let id = document.getElementById('delete-icon').dataset.id
    
            try {

                const res = await fetch(`/api/note/d/${id}`, {
                    method:  "DELETE",
                    headers: { "Content-Type": "application/json" }
                })
                if (res.redirected === true) {
                    await window.location.replace(res.url);
                } else {
                    console.log('No redirect needed.');
                }

            } catch (error){
                console.log(error)
            }

        }
    </script>
</body>