<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container primary-wrapper">
        <%- include('partials/flashMessage') %>
        <div class="note-form" data-slug="<%= note.slug %>" data-id="<%= note._id %>">
            <form id="note-form">
                <%- include('partials/form_fields', {note}) %>
            </form>
        </div>  
    </div>

    <script>
        const form = document.getElementById('note-form')
        const cancelBtn = document.getElementById('cancel-btn')
        const saveBtn = document.getElementById('save-btn')
        const title = document.getElementById('title')
        const noteContainer = document.querySelector('.note-form')
        const id = noteContainer.dataset.id
        const slug = noteContainer.dataset.slug
        

        window.addEventListener('load', function(){
            title.disabled = true
        })
        
        cancelBtn.addEventListener('click', function(e){
            e.preventDefault()
            location.assign(`/api/note/${slug}`)
        })

        saveBtn.addEventListener('click', async function(e){
            e.preventDefault()
            saveBtn.disabled = true

            try {
                let title = form.title.value
                let note = form.note.value
                const res = await fetch(`/api/note/u/${id}`, {
                    method: "PATCH",
                    body: JSON.stringify({title, note}),
                    headers: { "Content-Type": "application/json" }
                })
            
                if (res.redirected === true) {
                    await window.location.replace(res.url);
                } else {
                    console.log('No redirect needed.');
                }
  
            }
            catch (error){
                console.log(error)
            }
        })
    </script>
</body>
</html>