<%- include('partials/head') %>
<body style="background: white;">
    <%- include('partials/navbar') %> 

    <div class="container primary-wrapper">
        <%- include('partials/flashMessage') %>
        <% if(user){ %>
            <div class="profile-group">
                <form id="profile-form">
                    <div class="form-item mb-3">
                        <label for="first_name" class="input-label">First Name</label>
                        <input type="text" name="first_name" class="form-control" value="<%= user.first_name %>">
                    </div>
                    <div class="form-item mb-3">
                        <label for="last_name" class="input-label">Last Name</label>
                        <input type="text" name="last_name" class="form-control" value="<%= user.last_name %>">
                    </div>
                    <div class="form-item mb-3">
                        <label for="username" class="input-label">username</label>
                        <input type="username" name="username" class="form-control" value="<%= user.username %>">
                    </div>
                    <div class="form-item mb-3">
                        <label for="email" class="input-label">Email</label>
                        <input type="text" name="email" class="form-control" value="<%= user.email %>" aria-describedby="emailHelp" disabled>
                    </div>
                    
                    <div class="form-item mb-3">
                        <button id="save-profile" class="btn btn-success">Save profile</button>
                    </div>
                </form>
            </div>
        <% } %>
    </div>

    <script>
        const save_btn = document.getElementById('save-profile')
        const form = document.getElementById('profile-form')

        save_btn.addEventListener('click', async function(e){
            e.preventDefault()
            save_btn.disabled = true
            const first_name = form.first_name.value
            const last_name = form.last_name.value
            const username = form.username.value
            try {
                const res = await fetch('/api/profile/update', {
                    method: "PATCH",
                    body: JSON.stringify({first_name, last_name, username}),
                    headers: { "Content-Type": "application/json" }
                })
                
                if (res.redirected === true) {
                    await window.location.replace(res.url);
                } else {
                    console.log('No redirect needed.');
                }
            }
            catch (error){
                console.log(error)
            }
            
        })
    </script>
</body>
</html>
